body    {font-family: arial;
        text-align: left;
        background-color: rgb(255, 255, 255);
        width: 700px;
        margin: auto;
}
.top    {background-color: rgb(184, 184, 184);
        width: 700px;
        text-align: center;
        margin: auto;

}
table   {width: 700px;
        text-align: left; 
        line-height: 30px;
        border-collapse: collapse;
}
td      {border: 2px solid rgb(230, 230, 230);
}
th      {border: 2px solid rgb(230, 230, 230);
}
.bilder {background-color: rgb(230, 230, 230);
        text-align: center;
        width: 700px;    
}
.zzs    {color: grey;
        text-align: center;
}
.tele   {color: rgb(70, 70, 70);

}  