body{   background-color: silver;
        font-family: arial;
        text-align: center;
}
h1{     color: blue;  
}
.hoeren{color: red;
}
.schauen{color: blue;
}
table{  width: auto;
        margin: auto;
        text-align: center;
}
td{     color: blue;     
}